.content-register{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-text{
  text-align: center;
}

.content-register-form{
  padding: 0 30px;
  max-width: 700px;
  width: 100%;
}

.content-register-form .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.content-register-form .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content-register-form form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input,
.select-box select{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: var(--panel-color);
  color: var(--text-color);
}

.user-details .input-box input:focus,
.user-details .input-box input:valid,
.select-box select:focus,
.select-box select:valid{
  border-color: #9b59b6;
}

form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}

.select-box span,
.input-box span{
  color: var(--text-color);
}

form .button{
  height: 45px;
  margin: 35px 0
}

form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
  
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
    
.invalid {
  border: 1px solid red!important;
}

.select-box .details{
  font-weight: 500;
}

.sign-in{
  display: flex;
  align-items: center;
  justify-content: center;
}